<table class="list entries" id="browser">
<thead>
<tr id="root">
<th></th>
<th><%= l(:field_name) %></th>
<th><%= l(:field_author) %></th>
<th><%= l(:field_comments) %></th>
</tr>
</thead>
<tbody>
<%= render :partial => 'dir_list_content' %>
</tbody>
</table>
